<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Teacher Images</h1>
    <div class="img1">
        <img src="{% static 'app/images/banner/teacher1.png' %}" class="d-block w-100" alt="teacher 1">
        <img src="{% static 'app/images/banner/teacher2.png' %}" class="d-block w-100" alt="teacher 2">
    </div>
    <hr color="red">
    <h1>Student Images</h1>
    <div class="img1">
        <img src="{% static 'app/images/banner/student1.png' %}" class="d-block w-100" alt="Student 1">
        <img src="{% static 'app/images/banner/student2.png' %}" class="d-block w-100" alt="Student 1">
    </div>
</body>
</html>